---
interface Props {
  class?: string
}

const { class: className, ...rest } = Astro.props
---

<div
  class:list={[
    'px-4 py-5 sm:p-6 overflow-hidden rounded-lg bg-white shadow',
    className
  ]}
  {...rest}
>
  <slot />
</div>
