---
interface Props {
  buttonText: string
}

const { buttonText } = Astro.props
---

<aside data-modal>
  <button>{buttonText}</button>
  <dialog>
    <slot />
    <button title='Cerrar Ventana Modal'>
      <svg
        width='32'
        height='32'
        stroke-width='1.5'
        fill='none'
        viewBox='0 0 24 24'
      >
        <path
          d='M9.2 14.8 12 12m2.8-2.8L12 12m0 0L9.2 9.2M12 12l2.8 2.8M12 22a10 10 0 1 0 0-20 10 10 0 0 0 0 20Z'
          stroke='currentColor'
          stroke-linecap='round'
          stroke-linejoin='round'
        >
        </path>
      </svg>
    </button>
  </dialog>
</aside>

<script>
  const modals = document.querySelectorAll('[data-modal]')

  modals.forEach((modal) => {
    const dialog = modal.querySelector('dialog')
    const openModal = modal.querySelector('button')
    const closeModal = dialog?.querySelector('button')

    openModal?.addEventListener('click', () => {
      dialog?.showModal()
    })

    closeModal?.addEventListener('click', () => {
      dialog?.close()
    })
  })
</script>

<style>
  dialog {
    position: relative;
    width: 100%;
    max-width: 700px;
    padding: 2rem;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 0.5rem;
  }

  ::backdrop {
    background-color: hsla(0, 0%, 0%, 0.5);
  }

  button[title='Cerrar Ventana Modal'] {
    position: absolute;
    right: 0.25rem;
    bottom: 0.25rem;
    display: block;
    margin-left: auto;
  }
</style>
