---
import Layout from '../layouts/Layout.astro'
import Container from '../ui/Container.astro'
import Badge from '../ui/Badge.astro'
import Button from '../ui/Button.astro'
---

<Layout title='Componentes Astro Tailwind'>
  <Container>
    <Button theme='danger' size='lg'>Button</Button>
    <Badge color='green'>Badge</Badge>
  </Container>
</Layout>
