---
import Layout from '../layouts/Layout.astro'
import Container from '../ui/Container.astro'
import Badge from '../ui/Badge.astro'
import Button from '../ui/Button.astro'
import Avatar from '../ui/Avatar.astro'
---

<Layout title='Componentes Astro Tailwind'>
  <Container>
    <Button>Button</Button>
    <Badge>Badge</Badge>
    <Avatar />
  </Container>
</Layout>
