---
import Layout from '../layouts/Layout.astro'
import Badge from '../ui/Badge.astro'
import Card from '../ui/Card.astro'
import Button from '../ui/Button.astro'
---

<Layout title='Welcome to Astro.'>
  <main>
    <Card>
      <Badge color='red'>red</Badge>
      <Badge color='indigo'>indigo</Badge>
      <Badge color='green'>green</Badge>
      <Badge color='blue'>blue</Badge>
      <Badge color='yellow'>yellow</Badge>
      <Badge color='purple'>purple</Badge>
      <Badge color='pink'>pink</Badge>
      <Badge>Default</Badge>
    </Card>
    <Card>
      <Button
        disabled
        size='lg'
      >
        Primary
      </Button>
      <Button>Primary</Button>
      <Button size='sm'>Primary</Button>
      <Button
        size='lg'
        color='secondary'
        disabled
      >
        Secondary
      </Button>
      <Button color='secondary'>Secondary</Button>
      <Button
        linkButton
        href='/'
        size='sm'
        color='secondary'
      >
        Secondary
      </Button>
    </Card>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>
